body {
	display: flex;
	flex-direction: column;
  background-color: white;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 40px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 50px;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black
  text-decoration: none;
}

.text-container-1 {
  line-height: 0.2;
  letter-spacing: 1px;  
  font-size: 6vw;
  margin-bottom: 10vw;
  background-color: white;
  color: black;
}

.text-container-2 {
  line-height: 0.2;
  letter-spacing: 1px;  
  font-size: 6vw;
  background-color: white;
  color: black;
}

.text-container-3 {
 line-height: 0.2;
  letter-spacing: 1px;  
  font-size: 6vw;
  padding-bottom: 0vw;
  background-color: black;
  color: white;
}


.text-1-left {
display: flex;
justify-content: flex-start;
font-family: roc-grotesk, sans-serif;
font-weight: 100;
font-style: normal;
line-height: 0.2;
z-index: 0;
}

.text-1-right {
display: flex;
justify-content: flex-end;
font-family: roc-grotesk, sans-serif;
font-weight: 100;
font-style: normal;
z-index: 0;
}

.text-2-left {
display: flex;
justify-content: flex-start;
font-family: ambroise-std, serif;
font-weight: 300;
font-style: normal;
z-index: 0;
}

.text-2-right {
display: flex;
justify-content: flex-end;
font-family: ambroise-std, serif;
font-weight: 300;
font-style: normal;
z-index: 0;
}

.glitter-text {
  margin-top: -4vw;
  font-size: 8vw;
}

.glitter-text:hover {
 background: url("../assets/glitter-gold.jpg") repeat center center;
 background-size: cover;
 color: #fff;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 -moz-background-clip:text;
 background-clip:text; 
 font-family: ambroise-std, serif;
 font-weight: 300;
 font-style: italic;
 font-size:8vw;
 padding:0;
 margin:0;
 margin-bottom: 12vw;
 margin-top: -12vw;
 margin-left: 29.5vw;
 position: absolute;
}

.glitter-text-2 {
 color: white;
 font-family: ambroise-std, serif;
 margin-top: -8vw;
 margin-left: 15vw;
 position: absolute;
}

.glitter-text-2:hover {
 background: url("../assets/glitter-gold.jpg") repeat center center;
 background-size: cover;
 color: #fff;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 -moz-background-clip:text;
 background-clip:text; 
 font-family: ambroise-std, serif;
 font-weight: 300;
 font-style: italic;
 font-size:6vw;
 padding:0;
 margin:0;
 margin-top: -8vw;
 margin-left: 15vw;
}

.underline {
	text-decoration: underline 3px;
}

.line-through {
	text-decoration: line-through 3px;
}


.img-wrapper {
  display: grid;
  height: 250vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

.img-wrapper div{
  grid-column: 1;
  grid-row: 1;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--gray);
  transition: opacity 0.1s;
}

.femininity_hover_img {
    position: relative;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    }

.femininity_hover_img img {
        opacity:0;
        transition: all 300ms;
        position: absolute;
        height: 30vw;
        right: -10%;
        top: -10%;
        border: 5px solid #fff;
        box-shadow: 1px 1px 5px #888888;
        z-index: 99999;
    }

.femininity_hover_img:hover img {
        opacity:1;
        font-family: roc-grotesk, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

.femininity_hover_img:hover {
        font-family: ambroise-std, serif;
        font-weight: 300;
        font-style: normal;
    }

.elegance_hover_img {
    position: relative;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    }

.elegance_hover_img img {
        opacity:0;
        transition: all 300ms;
        position: absolute;
        height: 30vw;
        left: -10%;
        bottom: -10%;
        border: 5px solid #fff;
        box-shadow: 1px 1px 5px #888888;
        z-index: 99999;
    }

.elegance_hover_img:hover img {
        opacity:1;
    }

.elegance_hover_img:hover {
        font-family: ambroise-std, serif;
        font-weight: 300;
        font-style: normal;
    }

.body img {
  height: 500px;
  width: auto;
}

.eyes img{
  height: 300px;
  width: auto;
}

.freckles img{
  height: 415px;
  width: auto;
}

.lips img{
  height: 620px;
  width: auto;
}

.hair img{
  height: 285px;
  width: auto;
}

.scroll-imgs {
  background-image: url("../assets/glitter-pink2.jpg");
  background-repeat: repeat;
  padding: 4vw;
  overflow: auto;
  white-space: nowrap;
}

.scroll-imgs a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scroll-imgs a:hover {
  background-color: black;
}

.scroll-embed {
  background-image: url("../assets/glitter-black.jpg");
  padding: 4vw;
  overflow: auto;
  white-space: nowrap;
  height: 500px;
}

.scroll-embed a {
  display: inline-block;
  color: white;
  text-align: center;
  align-content: center;
  padding: 14px;
  text-decoration: none;
}

.scroll-embed video {
  display: inline-block;
  color: white;
  text-align: center;
  margin-left: 40%;
  align-content: center;
  padding: 14px;
  text-decoration: none;
}

.scroll-embed a:hover {
  background-color: #777;
}

.scroll-text {
 height: 50px; 
 overflow: hidden;
 position: relative;
 background: black;
 color: white;
 font-family: roc-grotesk, sans-serif;
 font-weight: 100;
 font-style: normal;
 letter-spacing: 1px;
 padding: 3px;
}

.scroll-text p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 transform:translateX(100%);
 animation: scroll-left 20s linear infinite;
}

.scroll-text.next p,.scroll-text:hover p  {
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
 0%   { 
 transform: translateX(50%);     
 }
 100% { 
 transform: translateX(-100%); 
 }
}

.sticky {
    position: sticky;
    top: 0;
}

.quote-background {
  background-image: url("../assets/glitter-silver.jpg");
  background-repeat: repeat;
  width: 100%;
  z-index: 0;
}

.quote{
  color: black;
  background: rgba(255, 255, 255, 0.5); 
  padding: 10px;
  font-family: ambroise-std, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 5vw;
  width: 70%;
  height: auto;
  margin-left: 15%;
  z-index: 0;
}

.speaker {
  color: black;
  background: rgba(255, 255, 255, 0.5); 
  padding: 10px;
  font-family: roc-grotesk, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 7vw;
  height: auto;
  margin-left: 50%;
  z-index: 0;
}

.speaker:hover {
    font-family: ambroise-std, serif;
    font-weight: 300;
    font-style: normal;
    }

svg {
    height: 100px;
    z-index: 3;
    position: absolute;
}

.left-sparkle{
    margin-left: 5%;
    margin-top: 5%;
}

.right-sparkle{
    margin-left: 90%;
}

#sparkle1 {
  height:100px;
  animation: glitter 1s ease-in-out infinite;
}

#sparkle2 {
  height:100px;
  animation: glitter 2s ease-in-out infinite;
}

#sparkle3 {
  height:100px;
  animation: glitter 3s ease-in-out infinite;
}

@keyframes glitter {
0% { opacity: 0;
}
50% { opacity: 1;
}
100% { opacity: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}